/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header {
    background-color: #fff;
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 10;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

pre {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #333;
    padding: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Layout */
.logo {
    width: 100px;
    height: 100px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.news-item-image {
    width: auto;
    height: auto;
    max-width: 500px;
}

.routes-list-item {
    margin: 0px 40px;
}

.l-post-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.l-post-header .user-name {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    margin-right: 10px;
}

.l-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-search {
    padding: 10px;
}

.l-sidebar-left {
    width: 150px;
    margin: 10px;
}

.l-sidebar-right {
    position: sticky;
    top: 120px;
    height: fit-content;
    width: 380px;
    margin: 10px;
}

.l-right-popup {
    position: fixed;
    z-index: 5;
    right: 0px;
    top: 120px;
    height: 40px;
    padding: 5px;
}

.l-right-popup:hover {
    padding: 10px 20px;
}

.l-right-popup::before {
    content: "+";
}

.l-right-popup:hover::before {
    content: "Добавить активность";
}

@media screen and (max-width: 1100px) {
    .l-mobile-hidden {
        display: none;
    }
}

/* Module */
.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.content-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.round-border {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.round-border:hover {
    border-color: #007bff;
}

.section-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.special-button {
    font-size: 16px;
    color: #fff;
    background-color: #4e98e7fe;
}

.climbing-wall {
    text-decoration: none;
}

.climbing-wall:hover {
    text-decoration: underline;
}

.content-list-item {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.time {
    color: rgb(129, 140, 153);
}

.preloader {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #007bff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
 }

 #tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
